body {
    background-color: black;
    color: ghostwhite;
    font-family: Comic Sans MS;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: dimgray;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: larger;
    font-family: 'Times New Roman';
}

    .sidebar a {
        display: block;
        color: ghostwhite;
        padding: 16px;
        text-decoration: wavy;
    }

        .sidebar a.active {
            background-color: darkslategray;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: lightslategray;
            color: white;
        }


.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}